<% content_for :title do %>
  GlideWell - Workouts List
<% end %>
<h1>Workouts List</h1>
<ul class="users">
  <%= link_to 'New workout', new_workout_path, data: {turbolinks: false},
              class: "btn btn-primary btn-lg active",
              role: "button", style: "margin-bottom: 1em;" %>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">date</th>
      <th scope="col">kind</th>
      <th scope="col">distance</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% @workouts.each do |w| %>
      <tr>
        <td><%= w.date %></td>
        <td><%= w.kind %></td>
        <td><%= w.total_distance %></td>
        <td>
          <%= link_to 'edit', edit_workout_path(w), data: {turbolinks: false} %>
          <%= link_to 'delete', w, method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</ul>
