<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Gridewell"%></title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      ul.hmenu {
        list-style: none;
        margin: 0 0 2em;
        padding: 0;
        float: right;
      }

      ul.hmenu li {
        display: inline;
      }
    </style>
  </head>

  <body class="container">
    <ul class="hmenu">
      <%= render 'devise/menu/login_items' %>
    </ul>
    <%= yield %>
  </body>
</html>
